.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
#signin{
    margin: 10px;
}
:checked + label {
    font-weight: bold;
}
.radio {
    margin: 10px;
}
.choice{
    position: relative;
}
.airports{
    width: 65%;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.number{
    width: 3em;
}
.airports input, label{
    display: block;
}
b{
    font-size: 10px;
    font-weight: 700;
}
