{% extends "layout.html" %}
{% block title%}
    buy
{%endblock%}
{% block content %}
<div class ="border">
    <div>
        <span class = "start">
            {{departure}}
        </span>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
        </span>
        <span class="finish">
            {{arrival}}
        </span>
        <span class="finish">{{flight_to[4]}} - {{flight_to[5]}}</span>
    </div>
    {% if choice == "two" %}
    <div >
        <span class = "start">
            {{arrival}}
        </span>
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
            </svg>
        </span>
        <span class="finish">
            {{departure}}
        </span>
        <span class="finish">{{flight_from[4]}} - {{flight_from[5]}}</span>
    </div>
    {% endif %}
    <span>
    <label for="bags">Number of bags</label>
    <input type ="number" min="0" name="bags" id="bags" placeholder="0">
    <p id="price">Price: </p>
    </span>
    <form action="/print" method="post">
        <button type="submit" name="print" class="btn btn-primary">Buy</button>
    </form>
</div>
<script>

    document.getElementById("bags").addEventListener("change", function() {
    let bags = this.value;
    console.log(bags);
    document.getElementById("price").innerHTML = "Price : "+bags*10;


});
</script>
{% endblock %}
