{% extends "layout.html" %}
{% block title%}
    index
{%endblock%}
{% block content %}
<div class="choice">
    <div>
    <form  action = "/">
        <input name="choice" id="two_way" value = "two" type="radio" checked>
        <label for="two_way" class="radio">Both ways</label>

        <input name="choice" id = "one_way" value ="one" type="radio">
        <label for="one_way" class = "radio">One way</label>
        
    </form>
    </div>

   <div class="airports">
    <datalist id="mylist">
        {% for airport in airports %}
        <option value={{airport[1]}}>
        {% endfor %}
     </datalist>
    <form action ="/" method = "POST">
        <span>
            <label><b>Departure</b>
            <input name="departure" id="departure" placeholder="Departure" type ="search" autofocus list="mylist">
            </label>
        </span>

        <span id="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </span>
        
        <span>
            <label><b>Arrival</b>
            <input name="arrival" placeholder="Arrival" type ="text" list="mylist">
            </label>
        </span>

        <span>
            <label><b>Date of departure</b>
            <input name="date-of-departure" placeholder="Date" type ="date" min={{d}} id="depart">
            </label>
        </span>

        <span>
            <label><b>Date of return</b>
            <input name="date-of-return" placeholder="Date" type ="date" min={{d}} id="return">
            </label>
        </span>

        <span>
            <label><b>Adults</b>
            <input name="adults" placeholder="1" class="number" type ="number" min="0" size="2">
            </label>
        </span>

        <span>
            <label><b id="underage">Underage</b>
            <input name="underage" placeholder="0" class="number" type ="number" min="0" size="2">
            </label>
        </span>

        <span>
            <button id="search" type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></button>
        </span>

        
    </form>
   </div>
</div>
<script> 
    var radioButtonSection = document.getElementsByName('choice');
    const element = document.getElementById("icon");
    console.log(radioButtonSection)
    for (var i = 0; i < radioButtonSection.length; i++) {
        radioButtonSection[i].addEventListener("change", function(event)  {
            var item = event.target.value;
            console.log(item);
            if(item == "one")
            {
                element.innerHTML='<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>';
                var date = document.getElementById("return");
                date.disabled = true;
            }
            else if(item == "two")
            {
                element.innerHTML='<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/></svg>';
            }
        });
    }

    

    document.getElementById("depart").addEventListener("change", function() {
    var input = this.value;
    console.log(input);
    document.getElementById("return").setAttribute("min",input)

});
  
</script>
{% endblock %}

