{% extends "layout.html" %}
{% block title%}
    index
{%endblock%}
{% block content %}
<form  action = "/" method="post">
    <div  class="choice">
        <input name="choice" id="two_way" value = "two" type="radio" checked >
        <label for="two_way" class="radio">Both ways</label>

        <input name="choice" id = "one_way" value ="one" type="radio" >
        <label for="one_way" class = "radio">One way</label>
    </div>

   <div class="airports">
    <datalist id="mylist">
        {% for airport in airports %}
        <option value={{airport[1]}}>
        {% endfor %}
    </datalist>
        <span>
            <label><b>Departure</b>
            <input name="departure" id="departure" placeholder="Departure" autofocus list="mylist" class="form-control">
            </label>
        </span>

        <span id="icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/>
            </svg>
        </span>
        
        <span>
            <label><b>Arrival</b>
            <input name="arrival" placeholder="Arrival" list="mylist" class="form-control">
            </label>
        </span>

        <span>
            <label><b>Date of departure</b>
            <input name="date-of-departure" placeholder="Date" type ="date" min={{d}} id="depart" class="form-control">
            </label>
        </span>

        <span>
            <label><b>Date of return</b>
            <input name="date-of-return" placeholder="Date" type ="date" min={{d}} id="return" class="form-control">
            </label>
        </span>

        <span>
            <label><b>Adults</b>
            <input name="adults" placeholder="1" class="number form-control" type ="number" min="0" size="2" value="1" >
            </label>
        </span>

        <span>
            <label><b id="underage">Underage</b>
            <input name="underage" class="number form-control" type ="number" min="0" size="2" value="0">
            </label>
        </span>

        <span>
            <button id="search" type="submit" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
              </svg></button>
        </span>        
    </div>
</form>
{% for flight in flights %}
<form action="/buy" method="get">
    <div class ="choice border">
        {% if choice == "one" %}
        <div >
            <span class = "start">
                {{departure}}
            </span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </span>
            <span class="finish">
                {{arrival}}
            </span>
            <span class="finish">{{flight[4]}} - {{flight[5]}}</span>
            <span class="finish">Price : ${{flight[6]*adults + flight[6]*0.5*underage}}</span>
            <input type="hidden" name="flight_price" value="{{flight[6]*adults + flight[6]*0.5*underage}}">
        </div>
        {% else %}
        <div >
            <span class = "start">
                {{arrival}}
            </span>
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </span>
            <span class="finish">
                {{departure}}
            </span>
            <span class="finish">{{flights.get(flight)[4]}} - {{flights.get(flight)[5]}}</span>
            <span class="finish">Price : ${{flight.get(flight)[6]*adults + flight.get(flight)[6]*0.5*underage}}</span>
            <input type="hidden" name="flight_price" value={{flight.get(flight)[6]*adults + flight.get(flight)[6]*0.5*underage + flight[6]*adults + flight[6]*0.5*underage}}>
        </div>
        
        {% endif %}    
        {% if flag %} 
        <input type="hidden" name="flight_to" value={{flight[0]}}>
        <input type="hidden" name="type" value={{choice}}>
        
        <div>
            <button type="submit" class="btn btn-primary">Choose</button>
        </div>
        {% endif %}
    </form>
    </div>
    
    {% endfor %}




       
       
<script> 
    var radioButtonSection = document.getElementsByName('choice');
    const element = document.getElementById("icon");
    console.log(radioButtonSection)
    for (var i = 0; i < radioButtonSection.length; i++) {
        radioButtonSection[i].addEventListener("change", function(event)  {
            var item = event.target.value;
            console.log(item);
            if(item == "one")
            {
                element.innerHTML='<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/></svg>';
                var date = document.getElementById("return");
                date.disabled = true;
            }
            else if(item == "two")
            {
                element.innerHTML='<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-right" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 11.5a.5.5 0 0 0 .5.5h11.793l-3.147 3.146a.5.5 0 0 0 .708.708l4-4a.5.5 0 0 0 0-.708l-4-4a.5.5 0 0 0-.708.708L13.293 11H1.5a.5.5 0 0 0-.5.5zm14-7a.5.5 0 0 1-.5.5H2.707l3.147 3.146a.5.5 0 1 1-.708.708l-4-4a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 4H14.5a.5.5 0 0 1 .5.5z"/></svg>';
            }
        });
    }

    

    document.getElementById("depart").addEventListener("change", function() {
    var input = this.value;
    console.log(input);
    document.getElementById("return").setAttribute("min",input)
    document.getElementById("return").setAttribute("value",input)

});
  
</script>
{% endblock %}

