{% extends "layout.html" %}
{% block title %}
login 
{%endblock%}

{% block content %}

    <form class="form-signin" method="POST" action="/login">
      <img class="mb-4" src="/static/3125713.png" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" name = "inputUsername" class="form-control" placeholder="Username" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name = "inputPassword" class="form-control" placeholder="Password" required="">
      <button class="btn btn-lg btn-primary btn-block" type="submit" id = "signin">Sign in</button>
      <p class="mt-5 mb-3 text-muted">2022</p>
    </form>
  

{% endblock %}